html {
  scroll-behavior: smooth;
}

h2 {
  position:absolute;
  font-size:200%;
  color:RED;
  font-weight: bold;
  text-decoration:none;
  text-align:center;
  width:100%;
}

/* Homepage Background */
.homepage {
  background-image: url("2018HenricoHuddle(16-9).png");
  height: 100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.content0 {
  height: 70vh;
  background-color: #3C0061;
  font-size: 36px;
}

.content1 {
  height: 70vh;
  background-color: #121112;
  font-size: 36px;
}

#readMore {
  position: absolute;
  width: 100%;
  top: 94%;
  text-align:center;
}

.chevron {
  margin: auto;
  width: 4%;
}

/* Navigation Bar */
#navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 2vh 5vh;
  text-decoration: none;
  font-size: 115%;
  font-weight: bold;
}

#navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  text-decoration: none;
  outline: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Photo Album */
#carouselExampleIndicators {
  top: 7vh;
  width: 75%;
  margin:auto;
}

/* Social Media Icons */
.fa {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:32vh;
}

.fa:hover {
    opacity: 0.6;
}

.u {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:37vh;
}

.u:hover {
  opacity: 0.6;
}

.red {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:42vh;
}

.red:hover {
  opacity: 0.6;
}

.insta {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:47vh;
}

.insta:hover {
  opacity: 0.6;
}

.spot {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:52vh;
}

.spot:hover {
  opacity: 0.6;
}
