/* Homepage Background */
.homepage {
  background-image: url("2017HenricoHuddle.png");
  height: 100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 1vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1vh 5vh;
  font-size: 125%;
  font-weight: bold;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  outline: none;
  text-decoration: none;
}

/* Social Media Icons */
.fa {
  padding: 1.5vh;
  font-size: 150px;
  width: 5vh;
  height: 5vh;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  left: 1vh;
}

.fa:hover {
    opacity: 0.6;
}

.fa-facebook {
  background: black;
  color: white;
  top: 32vh;
}

.fa-youtube {
  background: black;
  color: white;
  top: 38vh;
}

.fa-reddit {
  background: black;
  color: white;
  top: 44vh;
}

.fa-instagram {
  background: black;
  color: white;
  top: 50vh;
}

.fa-spotify {
  background: black;
  color: white;
  top: 56vh;
}
