html {
  scroll-behavior: smooth;
}

h2 {
  position:absolute;
  font-size:125%;
  color:white;
  text-decoration:none;
  text-align:center;
  width:100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  transform: scale(.04, .04);
  position:absolute;
  top:45%;
}

/* Homepage Background */
.homepage {
  background-image: url("2018HenricoHuddle(16-9).png");
  height: 100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

.content {
  height: 70vh;
  background-color: #3C0061;
  font-size: 36px;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  text-decoration: none;
  padding: 1vh;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 2vh 5vh;
  font-size: 115%;
  font-weight: bold;
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  outline: none;
  text-decoration: none;
}

/* Social Media Icons */
.fa {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:32vh;
}

.fa:hover {
    opacity: 0.6;
}

.u {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:37vh;
}

.u:hover {
  opacity: 0.6;
}

.red {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:42vh;
}

.red:hover {
  opacity: 0.6;
}

.insta {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:47vh;
}

.insta:hover {
  opacity: 0.6;
}

.spot {
  padding: 1.5vh;
  width: 7vh;
  height: auto;
  margin: 0vh 1vh;
  position: fixed;
  top:52vh;
}

.spot:hover {
  opacity: 0.6;
}
